<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>
<body>
    <center>
        <h1 style="background-color: aqua;color: black;">
            Hey..!! Your Login page is rendered successfully.
        </h1>
    </center>
    <center>
    <h2>Table</h2>
        <ul>
            <% for(let i=1;i<20;i++){ %>
                <li>
                    <%= (2*i) %>
                </li>
            <%}%>
        </ul>
    </center>
</body>
</html>