<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>
<body>
    <h1><i>Welcome user..!!</i></h1>
    <h2><i>how are you</i></h2>
    <h3><i>lets explore</i></h3>
    
</body>
</html>